@model Ecommerce.Models.Customer

@{
    ViewData["Title"] = "Xóa khách hàng";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a asp-area="Admin" asp-controller="AdminCustomers" asp-action="Index" class="breadcrumb-item">Quản lý khách hàng</a>
            <span class="breadcrumb-item active">Xóa khách hàng</span>
        </nav>
    </div>
</div>

<h3>Xác nhận xóa khách hàng</h3>
<br />

<div class="card">
    <div class="card-body">
        <div class="row align-items-center">
            <div class="col-md-7">
                <div class="d-md-flex align-items-center">
                    <div class="text-center text-sm-left ">
                        <div class="avatar avatar-image" style="width: 150px; height:150px">
                            <img src="@Model.CustomerAvatar" alt="">
                        </div>
                    </div>
                    <div class="text-center text-sm-left m-v-15 p-l-30">
                        <h2 class="m-b-5">@Model.CustomerName</h2>
                        <p class="text-opacity font-size-13">ID khách hàng: @Model.CustomerId</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="d-md-block d-none border-left col-1"></div>
                    <div class="col">
                        <ul class="list-unstyled m-t-10">
                            <li class="row">
                                <p class="col-sm-4 col-4 font-weight-semibold text-dark m-b-5">
                                    <i class="m-r-10 text-primary anticon anticon-mail"></i>
                                    <span>Email: </span>
                                </p>
                                <p class="col font-weight-semibold"> @Model.CustomerEmail</p>
                            </li>
                            <li class="row">
                                <p class="col-sm-4 col-4 font-weight-semibold text-dark m-b-5">
                                    <i class="m-r-10 text-primary anticon anticon-phone"></i>
                                    <span>Phone: </span>
                                </p>
                                <p class="col font-weight-semibold"> @Model.CustomerPhone</p>
                            </li>
                            <li class="row">
                                <p class="col-sm-4 col-5 font-weight-semibold text-dark m-b-5">
                                    <i class="m-r-10 text-primary anticon anticon-compass"></i>
                                    <span>Địa chỉ: </span>
                                </p>
                                <p class="col font-weight-semibold"> @Model.CustomerAddress</p>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="CustomerId" />
        <a asp-action="Index" class="btn btn-primary">Quay lại</a> |
        <input type="submit" value="Xóa khách hàng" class="btn btn-danger" />
    </form>
