@model IEnumerable<Ecommerce.Models.Order>

@{
    ViewData["Title"] = "Quản lý đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a asp-area="Admin" asp-controller="AdminOrders" asp-action="Index" class="breadcrumb-item active">Quản lý đơn hàng</a>
        </nav>
    </div>
</div>

<h3 class="font-weight-bold mb-4" style="color: #0097B2">Quản lý đơn hàng</h3>

<div class="card">
    <div class="card-body">
        @if (Model != null && Model.Count() > 0)
        {
            <div class="table-responsive">
                <table class="table table-hover e-commerce-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Ngày</th>
                            <th>Thành tiền</th>
                            <th>Trạng thái</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.OrderId
                                </td>
                                <td>@item.OrderCreatedDate</td>
                                @if(item.GrandPrice != null)
                                {
                                    <td>@item.GrandPrice.Value.ToString("#,##0") &#8363;</td>
                                }
                                
                                <td>
                                    <div class="d-flex align-items-center">
                                        @if (item.OrderStatus == "pending")
                                        {
                                            <div class="badge badge-primary badge-dot m-r-10"></div>
                                            <div> Đã gửi</div>
                                        }
                                        else if (item.OrderStatus == "processing")
                                        {
                                            <div class="badge badge-warning badge-dot m-r-10"></div>
                                            <div> Đang xử lý</div>
                                        }
                                        else if (item.OrderStatus == "completed")
                                        {
                                            <div class="badge badge-success badge-dot m-r-10"></div>
                                            <div> Hoàn thành</div>
                                        }
                                        else if (item.OrderStatus == "cancelled")
                                        {
                                            <div class="badge badge-danger badge-dot m-r-10"></div>
                                            <div> Pending</div>
                                        }
                                    </div>
                                </td>
                                <td class="text-right">
                                    <a class="btn btn-success btn-tone m-r-5" asp-area="Admin" asp-controller="AdminOrders" asp-action="Details" asp-route-id="@item.OrderId">Chi tiết</a>
                                    <a class="btn btn-primary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminOrders" asp-action="Edit" asp-route-id="@item.OrderId">Sửa</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>Chưa có đơn hàng.</p>
        }
        <div id="records_table">
        </div>
    </div>
</div>