@model Ecommerce.ModelViews.CheckoutVM

@{
    ViewData["Title"] = "Thanh toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Ecommerce.ModelViews.CartItem> Carts = ViewBag.Cart;
}

<div class="header-wrapper cyan fixed">
    <div class="header-container flex">
        <div class="logo-site">
            <a href="/" class="logo">
                <img src="~/user_assets/logo.svg" alt="logo">
            </a>
        </div>
        <div class="page-header">
            <h2 class="section-txt-title" style="color: white; font-weight: 600; margin-top: 20px;">Thanh toán</h2>
        </div>
    </div>
</div>

<form asp-controller="Checkout" asp-action="Index" method="post">
    <input hidden asp-for="CustomerId" />
    <div class="delivery-info payment-block" style="margin-top: 80px;">
        <div class="delivery-info-header payment-block-header">
            <div class="left">
                <h4 class="txt-cyan txt-18" style="font-weight: 600; margin-bottom: 40px; margin-top: 10px;">Thông tin nhận hàng</h4>
            </div>
        </div>
        <div class="delivery-content" style="margin-top: -20px;">
            <p><span class="txt-bold" style="border:none;">@Model.FullName</span> - <span class="txt-bold" style="border:none;">@Model.Phone</span></p>
            <p><span class="txt-bold" style="border:none;">@Model.Address</span></p>
        </div>
    </div>

    <div class="product-delivery-info payment-block">
        <div class="product-delivery-header payment-block-header">
            <h4 class="txt-cyan txt-18" style="font-weight: 600; margin-bottom: 20px; margin-top: 15px;">Đơn hàng</h4>
        </div>
        <div class="product-delivery-content">
            <table class="tb-payment-product">
                <thead>
                    <tr>
                        <th style="text-align: left;">Sản phẩm</th>
                        <th>Đơn giá</th>
                        <th>Số lượng</th>
                        <th>Thành tiền</th>
                    </tr>
                </thead>
                <tbody class="tb-product">
                    @if(Carts != null && Carts.Count() > 0)
                    {
                        foreach(var item in Carts)
                        {
                            <tr>
                                <td style="text-align: left;">@item.product.ProductName</td>
                                <td>@item.product.ProductDiscountPrice.Value.ToString("#,##0") &#8363;</td>
                                <td>@item.amount</td>
                                <td style="font-weight: bold;">@item.TotalMoney.ToString("#,##0") &#8363;</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="payment-total-info payment-block">
        <div class="payment-total-header payment-block-header">
            <h4 class="txt-cyan txt-18" style="font-weight: 600; margin-bottom: 20px; margin-top: 10px;">Thành tiền</h4>
        </div>
        <div class="payment-total-detail grid-2-col">
            <div class="payment-left">
                <div class="payment-method">
                    <strong>Phương thức thanh toán: </strong> Thanh toán khi nhận hàng
                    <p></p>
                </div>
                <div class="payment-note">
                    <strong>Lưu ý:</strong><br>
                    <ul>
                        <li>Thành tiền đã bao gồm VAT, phí đóng gói, phí vận chuyển và các chi phí khác vui lòng xem <a href="/delivery-policy.html" class="cyan-link txt-bold">chính sách vận chuyển</a>.</li>
                        <li>Nếu có nhu cầu đổi trả hàng, vui lòng xem <a href="/return-policy.html" class="cyan-link txt-bold">chính sách đổi trả hàng</a> hoặc liên hệ hotline để được hướng dẫn chi tiết.</li>
                    </ul>
                </div>
            </div>
            <div class="payment-right">
                <div class="payment-summary">
                    <div class="first-summary">
                        <span class="left">Tạm tính</span>
                        <span class="right">@Carts.Sum(x => x.TotalMoney).ToString("#,##0") &#8363;</span>
                    </div><br>
                    <div class="shipping-cost">
                        <span class="left">Phí vận chuyển</span>
                        <span class="right">20,000 &#8363;</span>
                    </div><br>
                    <div class="discount-money">
                        <span class="left">Giảm giá</span>
                        @if(Carts.Sum(x => x.TotalMoney) > 250000)
                        {
                            <span class="right">20.000 &#8363;</span>
                        }
                        else
                        {
                            <span class="right">0 &#8363;</span>
                        }
                    </div><br>
                    <hr>
                    <div class="final-total-money">
                        <span class="txt-orange txt-bold txt-18 left">Thành tiền</span>
                        @if (Carts.Sum(x => x.TotalMoney) > 250000)
                        {
                            <span class="txt-orange txt-bold txt-18 right">@Carts.Sum(x => x.TotalMoney).ToString("#,##0") &#8363;</span>
                        }
                        else
                        {

                            int grandPrice = Convert.ToInt32(Carts.Sum(x => x.TotalMoney)) + 20000;
                            <span class="txt-orange txt-bold txt-18 right">@grandPrice.ToString("#,##0") &#8363;</span>
                        }
                        
                    </div><br>
                    <input type="submit" class="order txt-uppercase" id="btn-finish" value="Đặt hàng">
                </div>
            </div>
        </div>
    </div>


</form>
<div class="return">
    <a href="/cart.html" class="cyan-link txt-14">Quay lại</a>
    <hr style="color: var(--gray);">
</div>