@model IEnumerable<Ecommerce.Models.Role>

@{
    ViewData["Title"] = "Quản lý quyền truy cập";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a asp-area="Admin" asp-controller="AdminRoles" asp-action="Index" class="breadcrumb-item active">Quản lý quyền truy cập</a>
        </nav>
    </div>
</div>

<h3 class="font-weight-bold mb-4" style="color: #0097B2">Quản lý quyền truy cập</h3>

<div class="table-responsive" style="overflow: hidden;">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Mô tả</th>
                <th scope="col">Tùy chọn</th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.RoleId</th>
                        <td>@item.RoleName</td>
                        <td>@item.RoleDescription</td>
                        <td>
                            <a class="btn btn-success btn-tone m-r-5" asp-area="Admin" asp-controller="AdminRoles" asp-action="Details" asp-route-id="@item.RoleId">Chi tiết</a>
                            <a class="btn btn-primary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminRoles" asp-action="Edit" asp-route-id="@item.RoleId">Sửa</a>
                            <a class="btn btn-danger btn-tone m-r-5" asp-area="Admin" asp-controller="AdminRoles" asp-action="Delete" asp-route-id="@item.RoleId">Xóa</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
