@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<Ecommerce.Models.Brand>

@{
    int currentPage = ViewBag.currentPage;
    ViewData["Title"] = "Quản lý thương hiệu";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a asp-area="Admin" asp-controller="AdminBrands" asp-action="Index" class="breadcrumb-item active">Quản lý thương hiệu</a>
        </nav>
    </div>
</div>

<h3 class="font-weight-bold mb-4" style="color: #0097B2">Quản lý thương hiệu</h3>

<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-8">
                <div class="d-md-flex">
                </div>
            </div>
            <div class="col-lg-4 text-right">
                <a class="btn btn-success" asp-action="Create" asp-controller="AdminBrands">
                    <i class="anticon anticon-plus-circle m-r-5"></i>
                    <span>Thêm thương hiệu</span>
                </a>
            </div>
        </div>
        <div class="table-responsive" style="overflow: hidden;">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Thương hiệu</th>
                        <th>Xuất xứ</th>
                        <th>Tùy chọn</th>
                    </tr>
                </thead>
                <tbody id="records_table">
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.BrandId</td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img class="img-fluid rounded" src="@item.BrandImage" style="max-width: 60px" alt="">
                                        <h6 class="m-b-0 m-l-10" style="max-width:250px;">@item.BrandName</h6>
                                    </div>
                                </td>
                                <td>@item.BrandOrigin</td>
                                <td>
                                    <a class="btn btn-success btn-tone m-r-5" asp-area="Admin" asp-controller="AdminBrands" asp-action="Details" asp-route-id="@item.BrandId">Chi tiết</a>
                                    <a class="btn btn-primary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminBrands" asp-action="Edit" asp-route-id="@item.BrandId">Sửa</a>
                                    <a class="btn btn-danger btn-tone m-r-5" asp-area="Admin" asp-controller="AdminBrands" asp-action="Delete" asp-route-id="@item.BrandId">Xóa</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div class="float-right" aria-label="Page navigation example">
                <ul class="pagination">
                    <pager class="pager-container" list="@Model" asp-area="Admin" asp-controller="AdminBrands" asp-action="Index" />
                </ul>
            </div>
        </div>
    </div>
</div>
