@model Ecommerce.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductCategoryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductCategoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductOriginalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductOriginalPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductDiscountPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductDiscountPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductBarcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductBarcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductInStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductInStock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductSoldQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductSoldQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductSideImage1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductSideImage1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductSideImage2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductSideImage2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductSideImage3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductSideImage3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductCreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductCreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductModifiedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsFlashSale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFlashSale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductBrand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductBrand.BrandId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductSubCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductSubCategory.SubCategoryId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
