@model Ecommerce.Models.Product

@{
    ViewData["Title"] = "Chi tiết sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section Styles{
    <link href="~/admin_assets/summernote/summernote-bs4.css" rel="stylesheet" />
    <link href="~/admin_assets/summernote/summernote.css" rel="stylesheet" />
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a asp-area="Admin" asp-controller="AdminProducts" asp-action="Index" class="breadcrumb-item">Quản lý sản phẩm</a>
            <span class="breadcrumb-item active">Chi tiết sản phẩm</span>
        </nav>
    </div>
</div>

<h3>Chỉnh sửa sản phẩm</h3>
<br />

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ProductId" />
    <input type="hidden" asp-for="ProductCreatedDate" />
    <input type="hidden" asp-for="IsFlashSale" />
    <input type="hidden" asp-for="ProductSoldQuantity" />
    <div class="page-header no-gutters has-tab">
    <div class="d-md-flex m-b-15 align-items-center justify-content-between">
        <div class="media align-items-center m-b-15">
            <div class="avatar avatar-image rounded" style="height: 70px; width: 70px">
                <img src="@Model.ProductImage" alt="@Model.ProductName">
            </div>
            <div class="m-l-15">
                <h5 class="m-b-0">@Model.ProductName</h5>
                <p class="text-muted m-b-0">ID sản phẩm: @Model.ProductId</p>
            </div>
        </div>
    </div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#product-edit-basic">Thông tin chung</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#product-edit-option">Thông tin chi tiết</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#product-edit-description">Mô tả sản phẩm</a>
            </li>
        </ul>
    </div>
    <div class="tab-content m-t-15">
        <div class="tab-pane fade show active" id="product-edit-basic">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label class="font-weight-semibold">Tên sản phẩm</label>
                        <div class="form-control">@Model.ProductName</div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="font-weight-semibold">Giá gốc</label>
                            <div class="form-control">@Model.ProductOriginalPrice.Value.ToString("#,##0")  ₫</div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-semibold">Giá giảm</label>
                            <div class="form-control">@Model.ProductDiscountPrice.Value.ToString("#,##0")  ₫</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="font-weight-semibold" asp-for="ProductCategoryId">Danh mục cha</label>
                            @if (@Model.ProductCategory.CategoryName is not null)
                            {
                                <div class="form-control">@Model.ProductCategory.CategoryName</div>
                            }
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-semibold" asp-for="ProductSubCategoryId">Danh mục con</label>
                            <div class="form-control">@Model.ProductSubCategory.SubCategoryName</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="product-edit-option">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label class="font-weight-semibold" asp-for="ProductInStock">Số lượng sản phẩm trong kho</label>
                        <div class="form-control">@Model.ProductInStock</div>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" asp-for="ProductBarcode">Barcode</label>
                        <div class="form-control">@Model.ProductBarcode</div>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" asp-for="ProductBrandId">Thương hiệu</label>
                        <div class="form-control">@Model.ProductBrand.BrandName</div>
                    </div>
                    <div class="form-group">
                            <label class="font-weight-semibold" asp-for="IsActive">Trạng thái</label>
                            @if(Model.IsActive == true)
                            {
                                <div class="form-control">Available</div>
                            }
                            else
                            {
                                <div class="form-control">Unavailable</div>
                            }
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="product-edit-description">
            <div class="card">
                <div class="card-body">
                    <label class="font-weight-semibold" asp-for="ProductInfo">Mô tả sản phẩm</label>
                    <hr />
                    @Html.Raw(Model.ProductInfo)
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <a asp-action="Index" class="btn btn-primary">Quay lại</a> |
        <a asp-action="Edit" asp-route-id="@Model.ProductId" class="btn btn-warning">Chỉnh sửa</a>
    </div>


@section Scripts{
    <script src="~/admin_assets/vendors/select2/select2.min.js"></script>
    <script src="~/admin_assets/js/pages/e-commerce-product-edit.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.1/jquery.validate.min.js"></script>
    <script src="~/admin_assets/summernote/summernote-bs4.js"></script>

    <script>

        jQuery(document).ready(function () {
            $('.summernote').summernote({
                fontNames: ['Be Vietnam Pro'],
                styleTags: ['p', 'h1', 'h2', 'h3', 'h4', 'h5'],
                height: 200,
                minHeight: null,
                maxHeight: null,
                focus: true
            });
        });
    </script>
}